body {
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	background-color:transparent;
	color:#eee;
}

html{
	background-color:#333;
}

a {
	color: #00B7FF;
}

h1 {
	color:#eee;
}

.header, .extended-header, .filler-header{
	background-color:#90C53F;
	height:6em;
	text-align:center;
	position:fixed;
	z-index: 3;
	width:100%;
	top:0;
}

.filler-header{
	height:16em;
	z-index: 1;
	position:relative;
}

.extended-header{
	height:16em;
}

.profile-pic{
	left: 0;
	z-index: 2;
  right: 0;
  margin-left: auto;
  margin-right: auto;
	height: 10em;
	width:  10em;
	position:absolute;
	border-radius: 50%;
	text-align:center;
	top:11em;
}

.info-container, .sub-section{
	left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
	text-align:center;
	top:22em;
	position:absolute;
}

.sub-section{
	top:28em;
	margin:3em auto;
	width: 50%;
	min-width: 12em;
	max-width: 30em;
}

.web-bar{
	width:85%;
}
.mobile-bar{
	width:70%;
}
.software-bar{
	width:62%;
}

.extended-header .nav-pills, .header .nav-pills{
	padding:2em;
	display:inline-block;
	text-align:center;
}

.extended-header .nav-pills li a, .header .nav-pills li a{
	color:white;
}

.extended-header .nav-pills li a:hover, .header .nav-pills li a:hover{
	color:black;
}

/* -------------- ABOUT PAGE ----------------- */

.info-section{
	z-index:4;
	margin:0px auto;
	text-align:center;
	margin-top:6em;
	padding:2em 4em;
	min-width: 12em;
	max-width: 44em;	
}

.info{
	padding-top:1em;
	text-align:justify;
	text-indent:1em;
}

.images{
	text-align: center;
}

.images img{
	height:3em;
	width:3em;
}