extends layout

block content
	include ./header.jade
	div.info-section
		h2.animated.bounceInRight About Me
		p.info.animated.bounceInLeft I am a first year Software Engineering student at Concordia University, enrolled in the Co-op option. This means I have to complete three work terms during my studies. I am interested in using new technologies and applying my knowledge to problems I haven't dealt with before. I have often participated in hackathons with the sole objective of learning a new language or framework. During these hackathons my team would also focus on building applications to solve real world problems.
		p.info.animated.bounceInRight Lately I have been very interested in the concept of big data and applying machine learning algorithms to make sense of it. I have taken a thirteen week Coursera course to learn more about it and I am always looking for opportunities to apply that knowledge. There is a lot to learn from user behaviour, and building personalized solutions for individuals can lead to some of the greatest applications out there.
		p.info.animated.bounceInLeft I have been elected SCS (Software Engineering and Computer Science) VP of Projects for the 2016-2017 school term with the main goal to work on projects relevant to real world problems that involve new tech. If you are a Concordia student wanting to work on a project, don't hesitate to contact me and I will help you anyway I can. It has always been my belief that out of class projects are one of the most important things a student can do to improve as a developer.