extends layout

block content
	include ./header.jade
	div.info-section
		h2 Contact Me
		br
		br
		a(href="mailto:gagne.jacob@gmail.com" target="_blank")
			h4 gagne.jacob@gmail.com
		br
		br
		div.images
			a(href="https://ca.linkedin.com/in/jacobgagne" target="_blank")
				img(src="images/linkedin-box.png")
			a(href="https://github.com/jacobrs" target="_blank")
				img(src="images/github-box.png")
			a(href="https://www.facebook.com/jacob.android" target="_blank")
				img(src="images/facebook-box.png")
			a(href="https://twitter.com/JacGagne" target="_blank")
				img(src="images/twitter-box.png")