doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/bower/bootstrap/dist/css/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/error.css')
		link(rel='stylesheet', href='/bower/font-awesome/css/font-awesome.min.css')
	body
		h1 
			i.fa.fa-thumbs-o-down
			font #{" " + message + " " +error.status}
		br
		pre #{error.stack}
