div.header
	ul.nav.nav-pills
		li(role="presentation")
			a(href="/", class="active") Home
		li(role="presentation")
			a(href="/projects", class="active") Projects
		li(role="presentation")
			a(href="/about", class="active") About
		li(role="presentation")
			a(href="/contact", class="active") Contact