extends layout

block content
	include ./large_header.jade
	img.profile-pic.animated.bounceInUp(src= "images/profile.jpg")
	h2.profile-name.animated.bounceInUp Jacob Gagné
	h4.profile-name.animated.bounceInUp Software Engineering Co-op Student