extends layout

block content
	include ./header.jade
	div.filler-header
	img.profile-pic.animated.bounceInUp(src= "images/profile.jpg")
	div.info-container.animated.bounceInUp
		h2 Jacob Gagné
		h4 Software Engineering Co-op Student
	div.sub-section.animated.bounceInUp
		h4 Web Dev
		div.progress
			div(class="progress-bar progress-bar-success web-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100")
		h4 Mobile Dev
		div.progress
			div(class="progress-bar progress-bar-success mobile-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100")
		h4 Software Dev
		div.progress
			div(class="progress-bar progress-bar-success software-bar" role="progressbar" aria-valuenow="62" aria-valuemin="0" aria-valuemax="100")