/*
nav{
	border-bottom: solid 1px #dddddd;
}
*/

#pic-bg{
	height: 8em;
	text-align: center;
	background-color: #2C3E50;
}

#content{
	margin:0 auto;
	margin-top: 6em;
	padding: 1em;
	padding-bottom: 12em;
}

#content-projects{
	margin:0 auto;
	margin-top: 2em;
	padding: 1em;
	padding-bottom: 12em;
}

#content p, #content-projects p{
	text-align: justify;
	font-size: 11pt;
}

#email{
	padding-bottom:.4em;
}

.bg-blue{
	background-color:#2C3E50;
}

.section-header{
	text-align: center;
	padding-bottom:.5em;
}

.quote{
	color:#27ae60;
}

.type{
	color:#DB0A5B;
}

.section-hr{
	width:50%;
	background-color: #CCCCCC;
}

.profile-pic{
	border-radius: 50%;
	height:8em;
	position: relative;
	margin-top:4em;
}

.center{
	text-align:center;
}

.right{
	float:right;
}

.icons{
	text-align:center;
	font-size:30pt;
}

.card{
	border-color:#2C3E50;
}

.icons .fa{
	padding:.5em;
}

.icons a:hover, .icons a:visited, .icons a:active, .icons a:focus{
	color:#333;
	text-decoration: none;
}

.icons a{
	color:#333;
}

.btn-outline-secondary{
	border-color:#fff;
	color:#fff;
}

.card-header{
	background-color:#2C3E50;
	color:#fff;
}

.btn-outline-secondary:hover, .btn-outline-secondary:focus, .btn-outline-secondary:active{
	border-color:#fff;
	background-color:rgba(255,255,255,.8);
	color:#2C3E50;
}